{% extends 'shared/layout.html' %}
{% load staticfiles %}

{% block conteudo %}

    <h1>Bem vindo</h1>
    <h2>cadastre-se sua Ong</h2>
    
    <form action="" method="POST">
        {% csrf_token %}        
        <label for="">Responsavel:</label>
        <input type="text" name="Responsavel">

        <label for="">Nome:</label>
        <input type="0" name="Nome">

        <label for="">Endereço: </label>
        <input type="text" name="Endereço">

        <label for="">Telefone </label>
        <input type="text" name="Telefone">

        <label for="">Horario </label>
        <input type="text" name="Horario de funcionamento">

        <label for="">Data </label>
        <input type="text" name="Data de Funcionamento">

        <input type="submit" value="Cadastrar">

    </form>
{% endblock %}
    
    



